.image1
{width: 200px;
 border-radius: 15px;   
 }

.image2
{width: 200px;
object-position: center;
margin-left: 20px;}

.image3
{width: 200px;
border-radius: 900px;
margin-top: 10px;
margin-left: 10px;
}

.search
{border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;

}

.google
{border: none;
padding-right: 50px;
padding-left: 15px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 8px;
box-shadow: 5px 5px 8px 
rgba(34, 15, 119, 0.15);
border-width: 10px;}

.email, .by
{color:grey;}

.agree
{color: white;
border: none; 
padding-right: 80px;
padding-left: 80px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 20px;
background-color: rgb(108, 108, 240);
}
